
*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

label{
    color: white;
    font-size: 18px;
    margin: 10px;
    text-align: center;
}

label:first-child{
    margin-top: 20px;
}

.container{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.title{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.form{
    background-color: #24292e;
    width: 35%;
    height: 50%;
}

.app{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.input{
    background-color: #1e1e1e;
    font-family: Arial;
    border: 1px solid black;
    width: 40%;
    height: 35px;
    margin: 5px;
    padding-left: 5px;
}

.input:hover{
    border: 1px solid#5C65FF;
    transition: 0.1s all;
}

.input:focus{
    border: 1px solid #5C65FF;
}

.btn{
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    background-color: black;
    width: 30%;
    height: 50px;
    margin: 15px;
}

.btn:hover{
    box-shadow: 0px 0px 0px 1px rgba(225, 225, 255, 0.7) inset;
}